SECRET_KEY=SECRET
LOG_LEVEL=INFO
SECURITY_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=3600
DB_DRIVER=odbc-driver
DB_HOST=host
DB_NAME=db
DB_USERNAME=username
DB_PASSWORD=password
DB_TRUSTED_CONNECTION=yes
MAX_REQUESTS_PER_MINUTE=100
GOOGLE_API_KEY=AIzaSyA9iMGyOwClyueKRQ1n_uvGJKBvgXD_oi0
SMTP_SERVER=smtp
SMTP_PORT=465
SMTP_USERNAME=mail
SMTP_PASSWORD=password
SMTP_SSL=true
SENDER_EMAIL=mail
APP_NAME='Shift Zone'
FRONTEND_URL='http://localhost:8000'